// COLORS
$primary-color: #3867c4;
$secondary-color: #19459f;
$font-family: "Montserrat", sans-serif;

$light-white: #000000ee;
$white-color: #000000ee;
$dark-grey: #333333;

$dark-blue-text: #e8e6e6; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
